@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

* { box-sizing: border-box; }

body {
  @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100;
}

a { @apply underline-offset-4; }
